body {
   font-family: 'Poppins';
   background-color: #a9b7da;
   margin: 0;
}

#content {
   position: relative;
   display: flex;
   flex-direction: column;
   top: 100px;
   left: 50%;
   transform: translateX(-50%);
   align-items: center;
   justify-content: center;
   padding: 0 20px;
}

h1 {
   margin: 0;
}

#section {
   position: relative;
   width: 100%;
   max-width: 1000px;
   margin-top: 50px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
}

.textin {
   border: none;
   border-radius: 10px;
   color: #000;
   padding: 20px 32px;
   text-align: left;
   width: 500px;
   resize: none;
   font-family: Poppins;
   background-color: #fff;
   transition: 0.3s;
}

.textin:focus {
   outline: none;
   box-shadow: 0 0 5px rgba(125, 125, 125, 0.459);
}

.button {
   width: 100px;
   height: 30px;
   padding: 5px 10px;
   margin-top: 10px;
   text-align: center;
   font-family: Poppins;
   border: none;
   border-radius: 8px;
   background-color: #fdfdfd;
   color: #000;
   transition: 0.3s;
   cursor: pointer;
}



#pdf-section, #text-section, #image-section {
   flex-direction: column;
}

#pdf-upload, #image-upload {
   border: none;
   font-family: Poppins;
   border-radius: 8px;
   padding: 20px;
   background-color: #fdfdfd;
   color: #000;
   text-align: center;
}

#dropdown-menu {
   display: none;
   position: absolute;
   top: 45px;
   width: 100px;
   background-color: #fff;
   border-radius: 8px;
   z-index: 1;
   animation: fadeIn 0.3s ease-in-out;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#dropdown-menu div {
   width: 100%;
   cursor: pointer;
   padding: 10px 0;
   transition: 0.3s;
   text-align: center;
   position: relative;
}

#dropdown-menu div:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   height: 100%;
   width: 0;
   background-color: rgb(209, 209, 209);
   transition: 0.5s;
}

#div1:before {
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
}

#div3:before {
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
}

#dropdown-menu div:hover:before {
   width: 100%;
}

.custom-dropdown {
   position: relative;
   display: flex;
   flex-direction: column;
   text-align: center;
}

.dropdown-toggle {
   background-color: #fff;
   font-family: Poppins;
   color: #000;
   padding: 6px 12px;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   width: 100px;
   height: 40px;
   text-align: left;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.dropdown-toggle i {
   margin-left: 10px;
   transition: transform 0.3s ease;
}

@keyframes fadeIn {
   from {
      opacity: 0;
      transform: translateY(-10px);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}

.loader {
   width: 60px;
   aspect-ratio: 2;
   --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
   background:
      var(--_g) 0% 50%,
      var(--_g) 50% 50%,
      var(--_g) 100% 50%;
   background-size: calc(100%/3) 50%;
   animation: l3 1s infinite linear;
   position: absolute;
   top: 290px;
   display: block;
}

@keyframes l3 {
   20% { background-position: 0% 0%, 50% 50%, 100% 50% }
   40% { background-position: 0% 100%, 50% 0%, 100% 50% }
   60% { background-position: 0% 50%, 50% 100%, 100% 0% }
   80% { background-position: 0% 50%, 50% 50%, 100% 100% }
}

.navigation-buttons {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   width: 100%;
   max-width: 700px;
   margin: 10px auto;
}

.navigation-buttons .button {
   border: none;
   background: none;
   font-size: 30px;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.score-container {
   background-color: #fff;
   padding: 15px 20px;
   border-radius: 10px;
   margin: 20px 0;
   text-align: center;
   font-weight: bold;
   font-size: 18px;
   color: #333;
}

#quiz-container {
   position: relative;
   border: 2px solid #fcfcfc;
   border-radius: 12px;
   padding: 20px;
   min-height: 200px;
   background-color: #f9f9f9;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   max-width: 700px;
   margin: 20px auto;
}

.control-buttons {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
   margin-bottom: 20px;
}


.control-buttons .button {
   width: 120px;
   height: 40px;
   font-size: 14px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
   border-radius: 8px;
   cursor: pointer;
   font-family: 'Poppins', sans-serif;
   transition: background-color 0.3s ease;
   border: none;
}

.shuffle-btn {
   background-color: #323995;
   color: white;
}

.reset-btn {
   background-color: #c02d2d;
   color: white;
}

#logo {
   width: 100px;
   position: absolute;
   right: 10px;
   top: 20px;
}

#logo img {
   width: 100px;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.534);
  background-color: rgba(255, 255, 255, 0.589);backdrop-filter: blur(5px);
  height: 100%; width: 0;
  padding-top: 60px; padding-bottom: 0;
  position: fixed;
  left: 0; top: 0;
  z-index: 100;
  overflow-x: hidden;
  transition: 0.5s;
}

#dd {
  position: relative;
  font-size: 30px;
  z-index: 200;
  color: #1042c2;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
}

#menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 0;
}

#menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #b893e9;
  width: 150px;
  height: 40px;
  padding: 0 10px;
  border-radius: 20px;
}

#menu li a {
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 800px) {
   #section {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
   }

   .textin {
      width: 100%;
   }

   #pdf-section,
   #text-section,
   #image-section {
      margin-left: 0;
      width: 80%;
   }

   textarea {
      padding: 0;
   }

   .control-buttons {
      flex-direction: column;
      align-items: center;
   }

   #quiz-container {
      width: 90%;
      margin: 10px auto;
   }

   .navigation-buttons {
      flex-direction: row;
      gap: 20px;
   }
}



.card:hover {
   background-color: #f2f2f2;
}

.quiz-question {
   font-weight: bold;
   font-size: 20px;
   color: #000;
}

.quiz-answers {
   display: block;
   margin-top: 10px;
}

.answer-option {
   padding: 10px;
   margin: 5px 0;
   border-radius: 5px;
   background-color: #fff;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.answer-option:hover {
   background-color: #e0e0e0;
}

.correct {
   background-color: #d4edda;
   color: #155724;
}

.incorrect {
   background-color: #f8d7da;
   color: #721c24;
}
