body {
    background-image: linear-gradient(120deg, #7ea1fa, #b893e9);
    font-family: Poppins;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: white; padding: 20px;
    display: flex; justify-content: space-between; align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: sticky; top: 0; z-index: 1000;
}

.logo img {
    width: 150px;
}
.links {
    display: flex; flex-wrap: wrap;
    gap: 10px;
}
.links a{
    text-decoration: none; transition: 0.3s;
    color:rgb(0, 43, 150);
}
.links a:hover{
    color: rgb(151, 151, 151);
}
.banner{
    padding: 80px 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.526);
}
.banner h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.banner p{ 
    font-size: 20px; margin-bottom: 20px;
    color: rgb(47, 80, 162);
   
}
.banner button {
    font-family: Poppins; font-size: 16px;
    padding: 20px;
    background-color: #7448af; color: white;
    border: none; border-radius: 15px;
    cursor: pointer; transition: 0.3s;
}
.banner button:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.319);
}

section {
    padding: 100px 50px;
    width: 100%;
    display: flex; flex-direction: column;
}

section h2 {
    text-align: center;
    margin-bottom: 30px; font-size: 30px;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.card h3 {
    margin-bottom: 10px;
    color:#2051ce;
}

.card p {
    color: rgb(91, 91, 91);
}
.faq{
    background-color: white;
    margin-bottom: 20px;
    padding: 20px; border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
.faq h3{
    color:#2051ce;
    font-size: 16px; margin-bottom: 10px;
}

footer {
    background: white;
    padding: 20px;
    margin-top: 60px;
}

@media (min-width: 768px) {
    .banner h1 {
        font-size: 50px;
    }
}
